<launch>
  <!-- Launch chatroom_node -->
  <node name="chatroom_node" type="chatroom_node" pkg="chatroom" output="screen"/>

  <!-- Launch user_node_1 -->
  <node name="user_node_1" type="user_node_1" pkg="chatroom" output="screen"/>

  <!-- Launch user_node_2 -->
  <node name="user_node_2" type="user_node_2" pkg="chatroom" output="screen"/>

  <!-- Launch user_node_3 -->
  <node name="user_node_3" type="user_node_3" pkg="chatroom" output="screen"/>
</launch>

